.logo {
    width: var(--logo-size);
    height: var(--logo-size);
    background-repeat: no-repeat;
    position: absolute;
    left: calc(50% - calc(var(--logo-size) / 2));
    top: calc(var(--index) * 2.8);
    z-index: 1;
}